$class-prefix: "tabs";
@font-face {
  font-family: "icons-turn-arrow";
  src: url("../font/icons/icomoon.eot") format("embedded-opentype"),
  url("../font/icons/icomoon.woff") format("woff"),
  url("../font/icons/icomoon.ttf") format("truetype"),
  url("../font/icons/icomoon.svg") format("svg");
}
html, body {
  margin: 0;
  padding: 0;
}
#root{
  width:320px;
  height:500px;
  border:1px solid #ccc;
  margin:0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

.operator {
  font-size: 14px;
  margin-bottom: 16px;
}

.#{$class-prefix} {
  &-bar {
/*    margin-bottom: 16px;*/
  /*  height:100%;
    width:100%;*/
    position: relative;
  }

  &-nav {
    font-size: 14px;
    &:after,
    &:before {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }

  }

  &-nav > &-tab {
    float: left;
    list-style: none;
    /*margin-right: 24px;*/
    /*padding: 0px 20px;*/
    padding-top: 15px;
    height:45px;
    width:80px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
    text-align: center;
  }

  &-tab span{
    font-size:16px;
  }
  &-nav > &-active {
    /*border-bottom: 2px solid #00C49F;*/
    color: #00C49F;
    cursor: default;
  }

  &-content &-panel {
    display: none;
  }
  &-content{
    height:440px;
    width:100%;
  }
  &-panel{
    width:100%;
    height:100%;
    text-align: center;
    padding-top:150px;
 /*   line-height:440px;*/

  }
  &-content &-active {
    display: block;
  }
  &-result{
    height:60px;
    width:100%;
  }
  &-word{
    font-size:10px;

  }

}
.inkBar {
  position: absolute;
  left: 0;
  bottom: 0px;
  box-sizing: border-box;
  height: 3px;
  background-color: #00C49F;
  z-index: 1;
}
/*字体图标插入*/
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-turn-arrow' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}